<form action="/" method='post'>
  <input type="text" name="name">
  <input type="text" name="description">
  <input type="submit" value="Create">
</form>


<% @fruits.each do |fruit| %>
  <p>Name: <%= fruit.name %> | Description: <%= fruit.description %> |
    <a href="/fruits/<%= fruit.id %>/edit">Update</a>
  <form action="/fruits/<%= fruit.id %>" method='post'>
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete">
  </form>

<hr>
<% end %>

