<form action="/" method='post'>
  <input type="text" name="name">
  <input type="text" name="description">
  <input type="submit" value="Create">
</form>


<% @fruits.each do |fruit| %>
  <p>Name: <%= fruit.name %> | Description: <%= fruit.description %> |
    <a href="fruits/update/<%= fruit.id %>">Update</a>
  <a href="fruits/delete/<%= fruit.id %>">Delete</a></p>
<hr>
<% end %>

